
<div class="container" *ngIf="auth">
<form [formGroup]="loginForm" (ngSubmit)="sub()" >
  <div class="card">
    <div class="card-header">
      <h2>LOGIN</h2>
    </div>
    <div class="card-body">
      <label for="userName">UserName</label>
  <input type="text" name="userName" class="form-control" id="userName" formControlName="userName"
    [ngClass]="{'is-invalid': f['userName'].errors && f['userName'].touched }">
    <span class="invalid-feedback" *ngIf="f['userName'].invalid && f['userName'].touched">*required</span>
  <label for="password">Password</label>
  <input type="password" class="form-control" name="password" id="password" formControlName="password"
  [ngClass]="{'is-invalid': f['password'].errors && f['password'].touched}">
  <span  *ngIf="f['password'].invalid && f['password'].touched" class="invalid-feedback">*required</span>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" [disabled]="loginForm.invalid" 
      routerLink="landingPage">Submit</button>
    </div>
  </div>
</form>
</div>
<div class="container" *ngIf="login">
  <router-outlet></router-outlet>
</div>