

<table class="table">
    <tr>
        <td>
            <div class="container">
                <button  class="btn btn-primary" (click)="bui()">Employee</button>
            </div>
        </td>
        <td>
            <div class="container">
                <button  class="btn btn-primary"  (click)="uni()" >Buisness</button>
            </div>
        </td>
        <td>
            <div class="container">
                <button class="btn btn-primary"  (click)="emp()">Unit</button>
            </div>
        </td>
    </tr>
</table>






